LibraryProject/LoginSDKTest/bin
AndroidStudioProject/.idea/*
AndroidStudioProject/.idea/compiler.xml
AndroidStudioProject/.idea/gradle.xml
AndroidStudioProject/.idea/misc.xml
LibraryProject/LoginSDK/bin
LibraryProject/.metadata
